@use 'variaveis';

.h2 {
    border-bottom: 2px solid;
    padding-top: 130px;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;

    @media (max-width: 1180px) {
        margin-left: 65px;
        padding-top: 50px;
    }
    
    @media (max-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 20px;
    }
}

.detalhes {
    display: flex;
    padding: 5.6vw;
    margin: 0 auto;
    gap: 100px;

    @media (max-width: 768px) {
        display: block;
    }

    &__bio {
        max-width: 50%;

        @media (max-width: 768px) {
            margin-top: 10px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            padding-bottom: 50px;
        }
        
        .cor-branco {
            color: variaveis.$corDeFundoBotaoSecundario;
        }

        h3 {
            padding-top: 0;
        }

        p {
            margin-top: 30px;
        }
    }

    &__info {
        display: flex;
        max-width: 1024px;
        max-width: 100%;
        margin-top: 110px;
        gap: 50px;

        @media (max-width: 768px) {
            margin-top: 50px;
        }

        ul {

            li {
                margin-top: 8px;
            }
        }
    }

    ul {

        .cor-branco {
            color: variaveis.$corDeFundoBotaoSecundario;
        }

        li {
            list-style: none
        }

        img {
            height: 28px;
            width: 28px;
        }
    }
}