@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 126vh;
    background-image: url(../imagens/simba.jpeg);

    @media (max-width: 768px) {
        background-image: url(../imagens/simba-celular.jpeg);
        padding-top: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
    }

    }

    h3 {
        margin-top: 40px;
    }

    &__content {
        max-width: 900px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__branding {

            img {
                width: 50%;
            }
        }

        &__pictures {
            display: flex;
            align-items: center;
            gap: 10px;
            

            &__10 {
                height: 28px;
                width: 28px;
            }

            &__AD {
                height: 28px;
                width: 45px;
            }

            &__CC {
                height: 28px;
                width: 45px;
            }
        }

        &__button {
            display: flex;
            margin-top: 50px;
            gap: 10px;
        }

        h3 {
            margin-top: 20px;

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
    }
}