.hero {
    padding: 5.6vw;
    min-height: 126vh;
    background-image: url(../imagens/simba.jpeg);

    h3 {
        margin-top: 40px;
    }

    &__content {
        max-width: 900px;

        &__branding {

            img {
                width: 50%;
            }
        }

        button {
            background-color: #fff;
            margin-bottom: 40px;
            height: 50px;
            width: 200px;;
            padding: 8px;
            border-radius: 8px;
            text-transform: uppercase;

            a {
                text-decoration: none;
                font-size: 18px;
                color: #02172a;
                font-weight: bold;
            }
        }

        &__pictures {
            display: flex;
            align-items: center;
            gap: 10px;
            

            &__10 {
                height: 28px;
                width: 28px;
            }

            &__AD {
                height: 28px;
                width: 45px;
            }

            &__CC {
                height: 28px;
                width: 45px;
            }
        }

        &__button {
            display: flex;
            margin-top: 50px;
            gap: 10px;
            
            button {
                background-color: #02d6e8;
                height: 50px;
                width: 200px;;
                padding: 8px;
                border-radius: 8px;
                text-transform: uppercase;

                a {
                    text-decoration: none;
                    font-size: 18px;
                    color: #02172a;
                    font-weight: bold;
                }
            }
        }

        h3 {
            margin-top: 20px;
        }
    }
}