.trailer {
    max-width: 1200px;
    margin-top: 60px;
    margin-left: 250px;

    h2 {
        margin-top: 200px;
        margin-left: 400px;
        margin-bottom: 60px;
    }

    video {
        width: 100%
    }
}